services:
  postgres:
    image: postgres:17.5
    container_name: ${NAME_PREFIX}-postgres-${BRANCH_SUFFIX}
    networks:
      - internal
    env_file: .env.prod
    volumes:
      - /home/salko/postgres-prod/init:/docker-entrypoint-initdb.d:ro
      - /home/salko/postgres-prod/postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    labels:
      - logging=promtail
      - environment=prod

  nextjs:
    image: ${IMAGE_TAG_NAME}:${IMAGE_VERSION}
    container_name: ${NAME_PREFIX}-nextjs-${BRANCH_SUFFIX}
    networks:
      - internal
      - outgoing
    env_file: .env.prod
    environment:
      - PORT=${CONTAINER_PORT}
      - HOSTNAME=${HOSTNAME}
      - DATABASE_CONNECTION_STRING=postgresql://${APP_DB_USER}:${APP_DB_PASSWORD}@${NAME_PREFIX}-postgres-${BRANCH_SUFFIX}:${PGPORT}/${POSTGRES_DB}
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    # healthcheck:
    #   test: curl --fail http://localhost:3000/ || exit 1
    #   interval: 60s
    #   timeout: 30s
    #   retries: 3
    #   start_period: 30
    labels:
      - logging=promtail
      - environment=prod
      - traefik.enable=true
      - traefik.http.routers.nextjs-${BRANCH_SUFFIX}.rule=Host(`${SITE_PREFIX}.${HOST_URL}`)
      - traefik.http.routers.nextjs-${BRANCH_SUFFIX}.entrypoints=websecure
      - traefik.http.routers.nextjs-${BRANCH_SUFFIX}.tls.certresolver=cloudflare
      - traefik.http.services.nextjs-${BRANCH_SUFFIX}.loadbalancer.server.port=${CONTAINER_PORT}
      # - traefik.http.services.nextjs-${BRANCH_SUFFIX}.loadbalancer.healthcheck
      # - traefik.http.services.nextjs-${BRANCH_SUFFIX}.rateLimit.burst=100
      # - traefik.http.services.nextjs-${BRANCH_SUFFIX}.rateLimit.average=50

networks:
  outgoing:
    external: true
    name: global_outgoing
  internal:
    external: true
    name: salko_prod_internal
