services:
  postgres:
    image: postgres:17.5
    container_name: ${NAME_PREFIX}-postgres
    networks:
      - internal_prod
    env_file: .env.prod
    volumes:
      - /home/salko/postgres/init:/docker-entrypoint-initdb.d:ro
      - /home/salko/postgres/postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s

  nextjs-dev:
    image: "ghcr.io/mrmikoma/salko_website-nextjs-dev:latest"
    container_name: ${NAME_PREFIX}-nextjs-${DEV_SUFFIX}
    networks:
      - internal
      - outgoing
    env_file: .env
    environment:
      - PORT=${DEV_CONTAINER_PORT}
      - HOSTNAME=${DEV_HOSTNAME}
      - DATABASE_CONNECTION_STRING=postgresql://${DEV_POSTGRES_USER}:${DEV_POSTGRES_PASSWORD}@postgres-${DEV_SUFFIX}:${DEV_POSTGRES_HOST_PORT}/${DEV_POSTGRES_DB}
      - NEXTAUTH_URL=${DEV_NEXTAUTH_URL}
      - NEXTAUTH_SECRET=${DEV_NEXTAUTH_SECRET}
      - GOOGLE_CLIENT_ID=${DEV_GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${DEV_GOOGLE_CLIENT_SECRET}
    depends_on:
      postgres-dev:
        condition: service_healthy
    restart: always
    # healthcheck:
    #   test: curl --fail http://localhost:3001/ || exit 1
    #   interval: 60s
    #   timeout: 30s
    #   retries: 3
    #   start_period: 30s
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      - traefik.http.routers.nextjs-${DEV_SUFFIX}.rule=Host(`${DEV_HOST_URL}`)
      - traefik.http.routers.nextjs-${DEV_SUFFIX}.entrypoints=websecure
      - traefik.http.routers.nextjs-${DEV_SUFFIX}.tls.certresolver=myresolver
      # - traefik.http.routers.nextjs-${DEV_SUFFIX}.middlewares=redirect-to-https
      # - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
      # - traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=true
      - traefik.http.services.nextjs-${DEV_SUFFIX}.loadbalancer.server.port=${DEV_CONTAINER_PORT}
      # - traefik.http.services.nextjs-${DEV_SUFFIX}.loadbalancer.healthcheck
      # - traefik.http.services.nextjs-${DEV_SUFFIX}.rateLimit.burst=100
      # - traefik.http.services.nextjs-${DEV_SUFFIX}.rateLimit.average=50

  # postgres-prod:
  #   image: "postgres:17.2"
  #   container_name: ${NAME_PREFIX}-postgres-${PROD_SUFFIX}
  #   ports:
  #     - ${PROD_POSTGRES_HOST_PORT}:5432
  #   networks:
  #     - internal
  #   environment:
  #     - POSTGRES_USER=${PROD_POSTGRES_USER}
  #     - POSTGRES_PASSWORD=${PROD_POSTGRES_PASSWORD}
  #     - POSTGRES_DB=${PROD_POSTGRES_DB}
  #   volumes:
  #     - ../postgres-${PROD_SUFFIX}/postgres-data:/var/lib/postgresql/data
  #     - ../postgres-${PROD_SUFFIX}/init.sql:/docker-entrypoint-initdb.d/init.sql
  #   restart: always
  #   healthcheck:
  #     test: ["CMD", "pg_isready", "-U", "postgres"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 5

  nextjs-prod:
    image: "ghcr.io/mrmikoma/salko_website-nextjs:latest"
    container_name: ${NAME_PREFIX}-nextjs-${PROD_SUFFIX}
    networks:
      - internal
      - outgoing
    env_file:
      - .env
    environment:
      - PORT=${PROD_CONTAINER_PORT}
      - HOSTNAME=${PROD_HOSTNAME}
      - DATABASE_CONNECTION_STRING=postgresql://${PROD_POSTGRES_USER}:${PROD_POSTGRES_PASSWORD}@postgres-${PROD_SUFFIX}:${PROD_POSTGRES_HOST_PORT}/${PROD_POSTGRES_DB}
      - NEXTAUTH_URL=${PROD_NEXTAUTH_URL}
      - NEXTAUTH_SECRET=${PROD_NEXTAUTH_SECRET}
      - GOOGLE_CLIENT_ID=${PROD_GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${PROD_GOOGLE_CLIENT_SECRET}
    # depends_on:
    #   postgres-prod:
    #     condition: service_healthy
    restart: always
    # healthcheck:
    #   test: curl --fail http://localhost:3000/ || exit 1
    #   interval: 60s
    #   timeout: 30s
    #   retries: 3
    #   start_period: 30s
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - traefik.enable=true
      - traefik.http.routers.nextjs-${PROD_SUFFIX}.rule=Host(`${PROD_HOST_URL}`)
      - traefik.http.routers.nextjs-${PROD_SUFFIX}.entrypoints=websecure
      - traefik.http.routers.nextjs-${PROD_SUFFIX}.tls.certresolver=myresolver
      # - traefik.http.routers.nextjs-${PROD_SUFFIX}.middlewares=redirect-to-https
      # - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
      # - traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=true
      - traefik.http.services.nextjs-${PROD_SUFFIX}.loadbalancer.server.port=${PROD_CONTAINER_PORT}
      # - traefik.http.services.nextjs-${PROD_SUFFIX}.loadbalancer.healthcheck
      # - traefik.http.services.nextjs-${PROD_SUFFIX}.rateLimit.burst=100
      # - traefik.http.services.nextjs-${PROD_SUFFIX}.rateLimit.average=50

networks:
  outgoing:
    driver: bridge
  internal:
    external: true
    name: salko_prod_internal
