global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true
  debug: false

log:
  level: INFO

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: global_outgoing
  file:
    filename: /traefik.yaml
    watch: true

certificatesResolvers:
  cloudflare:
    acme:
      email: admin@savonlinnanlentokerho.fi
      storage: acme.json
      dnsChallenge:
        provider: cloudflare
        # disablePropagationCheck: true # uncomment this if you have issues pulling certificates through cloudflare.
        # delayBeforeCheck: 60s # uncomment along with disablePropagationCheck if needed.
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"

http:
  middlewares:
    internal-only:
      ipAllowList:
        sourceRange:
          - "10.1.0.0/16" # Hetzner Cloud network
          - "10.10.0.0/24" # Home site network
          - "10.20.0.0/24" # Vanttula site network
          - "127.0.0.1/32" # Localhost
          - "172.16.0.0/12" # Docker internal networks
