---
- name: Ansible VPS Provisioning
  hosts: all
  become: false
  vars:
    github_username: "mrMikoma" # "{{ lookup('env', 'GITHUB_USERNAME') }}"
  roles:
    - base
    - security
    - ssh_hardening
    - docker_install
    - cronjobs
