---
- name: Install security packages
  ansible.builtin.apt:
    name:
      - ufw
      - fail2ban
    state: present
    update_cache: true

- name: Reset UFW to defaults
  community.general.ufw:
    state: reset

- name: Set UFW default policies
  community.general.ufw:
    direction: "{{ item.direction }}"
    policy: "{{ item.policy }}"
  loop:
    - { direction: "incoming", policy: "deny" }
    - { direction: "outgoing", policy: "allow" }

- name: Allow HTTP from anywhere
  community.general.ufw:
    rule: allow
    port: "80"
    proto: tcp

- name: Allow HTTPS from anywhere
  community.general.ufw:
    rule: allow
    port: "443"
    proto: tcp

- name: Allow SSH from private network (10.1.0.0/16)
  community.general.ufw:
    rule: allow
    port: "22"
    proto: tcp
    from_ip: 10.1.0.0/16

- name: Allow PostgreSQL from private network (10.1.0.0/16) for pgAdmin4
  community.general.ufw:
    rule: allow
    port: "5432"
    proto: tcp
    from_ip: 10.1.0.0/16

- name: Allow Grafana from private network (10.1.0.0/16)
  community.general.ufw:
    rule: allow
    port: "3001"
    proto: tcp
    from_ip: 10.1.0.0/16

- name: Allow Prometheus from private network (10.1.0.0/16)
  community.general.ufw:
    rule: allow
    port: "9090"
    proto: tcp
    from_ip: 10.1.0.0/16

- name: Allow Loki from private network (10.1.0.0/16)
  community.general.ufw:
    rule: allow
    port: "3100"
    proto: tcp
    from_ip: 10.1.0.0/16

- name: Allow Node Exporter from private network (10.1.0.0/16)
  community.general.ufw:
    rule: allow
    port: "9100"
    proto: tcp
    from_ip: 10.1.0.0/16

- name: Allow cAdvisor from private network (10.1.0.0/16)
  community.general.ufw:
    rule: allow
    port: "8080"
    proto: tcp
    from_ip: 10.1.0.0/16

- name: Allow Postgres Exporter Dev from private network (10.1.0.0/16)
  community.general.ufw:
    rule: allow
    port: "9187"
    proto: tcp
    from_ip: 10.1.0.0/16

- name: Allow Postgres Exporter Prod from private network (10.1.0.0/16)
  community.general.ufw:
    rule: allow
    port: "9188"
    proto: tcp
    from_ip: 10.1.0.0/16

- name: Enable UFW
  community.general.ufw:
    state: enabled

- name: Remove old fail2ban banlist
  ansible.builtin.shell: |
    fail2ban-client status sshd
    fail2ban-client unban --all
  args:
    executable: /bin/bash
  changed_when: false

- name: Configure fail2ban
  ansible.builtin.copy:
    dest: /etc/fail2ban/jail.local
    mode: "0640"
    content: |
      [sshd]
      enabled = true
      port = ssh
      filter = sshd
      logpath = /var/log/fail2ban.log
      banaction = iptables-multiport
      bantime = 86400
      maxretry = 10
      findtime = 300

- name: Enable and start fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    enabled: true
    state: started
