services:
  postgres:
    image: postgres:17.5
    container_name: "salko-postgres"
    ports:
      - 5432:5432
    env_file:
      - .env
    environment:
      - TZ=UTC
      - PGTZ=UTC
    command: postgres -c timezone=UTC
    volumes:
      - ./init:/docker-entrypoint-initdb.d:ro
      # - /home/salko/postgres-dev/postgres-data:/var/lib/postgresql/data data persistence disabled for dev
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
#  pgadmin:
#    image: dpage/pgadmin4:latest
#    container_name: salko-pgadmin
#    ports:
#      - 5000:80
#    env_file:
#      - .env
#    depends_on:
#      - postgres
#    volumes:
#      - ./pgadmin-data:/var/lib/pgadmin
#    restart: unless-stopped

## Check ip address of postgres container
# docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' salko-postgres
